
@use '../util/' as *;

.tools {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  list-style: none;
  li {
    border: 2px solid;
    padding: 20px;
    transition: all .3s;
    a {
      text-decoration: none;
      text-align: center;
      color: inherit;
      @include df(center, center, column, 10px);
      h4 {
        border-bottom: 1px solid;
      }
    }
    &:hover {
      border-color: purple;
      a {
        color: purple;
      }
    }
  }
}